@import "tailwindcss";
@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.custom-toast {
  animation: slideUp 0.4s ease forwards;
}

:root {
  --primary-color: #111827;
}
.hide-scrollbar {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

.scroll-container {
  scroll-snap-type: x mandatory;
}
.card {
  scroll-snap-align: start;
}