@import "tailwindcss";

:root {
  --primary-color: #111827;
}
.hide-scrollbar {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

.scroll-container {
  scroll-snap-type: x mandatory;
}
.card {
  scroll-snap-align: start;
}